@import "../varibles.scss";
@import "../breakpoints.scss";
.risk-container {
  width: 100%;

  .risk-row {
    position: relative;
    display: flex;
    column-gap: 70px;

    @include media("<=phone") {
      justify-content: center;
      .background-video {
        display: none;
      }
    }
    .background-video {
      overflow: hidden;
      margin-bottom: -4px;
      video {
        margin-top: -2px;
        width: 55vw;
        max-width: 1056px;
        object-fit: contain;
        object-position: center;
        @include media("<=desktop") {
          width: 55vw;
          margin-top: -2px;
        }
      }
    }

    .risk-disclo {
      // background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media("<=phone") {
        font-size: 32px;
      }
      .risk-disclo-head {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        color: #0c0c0c;
        @include media("<=phone") {
          font-size: 32px;
        }
        @include media("<=desktop") {
          font-size: 24px;
          line-height: 10px;
        }
      }
      p {
        width: 570px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 171%;
        color: #757575;

        @include media("<=desktop") {
          font-size: 16px;
          width: 380px;
        }
        @include media("<=phone") {
          font-size: 16px;
          width: 340px;
        }
      }
    }
  }
  .risk-row-2 {
    display: flex;
    height: 70vh;
    justify-content: space-between;
    align-items: center;
    @include media("<=phone") {
      margin-top: 2rem;
      justify-content: flex-start;
      .background-video {
        display: none;
      }
    }
    .background-video {
      width: 45vw;
      height: 70vh;
      overflow: hidden;
      @include media("<=desktop") {
        width: 45vw;
        // display: none;
      }
      video {
        margin-left: -4px;
        margin-top: -40%;
      }
    }
    .risk-content {
      width: 50%;
      display: flex;
      justify-content: center;
      @include media("<=phone") {
        padding: 0 32px;
      }
      .risk-content-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        width: 447px;
        color: #0c0c0c;
        .sentence {
          overflow: hidden;
        }
        @include media("<=phone") {
          font-size: 32px;
        }
        @include media("<=desktop") {
          font-size: 32px;
        }
      }
    }
  }
}
