@import "../varibles.scss";
@import "../breakpoints.scss";
.what-we-do-main {
  // height: 50vh; //fallback option
  //fallback option
  //   height: calc(var(--vh, 1vh) * 50);
  background-color: $white;
  // padding: 0 32px;

  .what-we-do-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    width: 1560px;
    min-width: 1560px;
    margin: 0 auto;
    @include media("<=1560px") {
      width: 1280px;
      min-width: 1280px;
    }
    @include media("<=desktop") {
      width: 1080px;
      min-width: 1080px;
    }
    @include media("<=1080px") {
      width: 100%;
      min-width: 100%;
    }
    .what-we-do-horizontal-line {
      padding: 0 6rem;
      overflow: hidden;
      @include media("<=phone") {
        overflow: visible;
        padding: 0 2rem;
      }
      hr {
        transform-origin: left;
        transition: transform 0.25s ease-out;
        background-color: black;
        margin-bottom: 1.5rem;
      }

      .what-we-do-horizontal-line-sub-texts {
        display: flex;
        justify-content: space-between;
        .what-we-do-section-name {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
        span:nth-child(2) {
          margin-right: -25rem;
          @include media("<=phone") {
            margin-right: 0;
          }
        }
        span {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          color: #757575;
        }
      }
    }
    .what-we-do-row {
      padding: 0 6rem;
      padding-top: 3rem;
      display: flex;
      justify-content: space-between;
      @include media("<=phone") {
        flex-direction: column;
        padding: 0 0rem;
        // padding-top: 3rem;
        justify-content: center;
        align-items: center;
      }
      .what-we-do-big-text {
        width: 450px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;

        @include media("<=phone") {
          font-size: 32px;
          width: 300px;
        }
        @include media("<=desktop") {
          font-size: 32px;
          width: 350px;
        }
        .sentence {
          overflow: hidden;
          margin-bottom: 8px;
          height: 56px;
          position: relative;
        }
      }
      .what-we-do-small-text {
        width: 450px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #757575;
        @include media("<=phone") {
          width: 300px;
          padding-top: 2rem;
          font-size: 16px;
        }
        @include media("<=desktop") {
          font-size: 16px;
          width: 350px;
        }
      }
    }
    .what-we-do-slide-text {
      // position: absolute;
      @include media("<=phone") {
        padding-top: 2rem;
        font-size: 16vw;
        margin-left: -5rem;
        overflow: hidden;
      }
      @include media("<=desktop") {
        // font-size: 13vw;
        padding-bottom: 2rem;
      }
      overflow: hidden;
      margin-top: auto;
      font-size: 14vw;
      white-space: nowrap;
      // transition: all 2s ease-in-out;
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
  .risk-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    // width: 1560px;
    // min-width: 1560px;
    margin: 0 auto;
    @include media("<=1560px") {
      width: 1280px;
      min-width: 1280px;
    }
    @include media("<=desktop") {
      width: 1080px;
      min-width: 1080px;
    }
    @include media("<=1080px") {
      width: 100%;
      min-width: 100%;
    }
  }
}
