.pricing-page {
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding: 4rem;
  // justify-content: center;
  align-content: space-between;
  align-items: center;
  font-family: "poppins";
  .pricing-header {
    width: 100%;
    span {
      cursor: pointer;
      &:hover {
        color: rgb(0, 73, 141);
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
  .cards-holder {
    display: flex;
    width: 86%;
    padding: 4rem;
    justify-content: space-between;
    column-gap: 40px;

    .pricing-card-white {
      width: calc(400px - 40px);
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      min-height: calc(668px - 40px);
      border-radius: 20px;
      padding: 40px;
      align-items: center;
      background: #ffffff;
      overflow: hidden;
      position: relative;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      .pricing-card-white-title {
        display: flex;
        column-gap: 10px;
        align-items: center;
        align-self: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        img {
          margin-top: -2%;
        }
      }
      .pricing-card-white-description {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        width: 320px;
        border-bottom: 1px dashed #a9a9aa;
        padding-bottom: 2rem;

        .half-gray {
          font-weight: 300;
          font-size: 22px;
          line-height: 27px;
          color: #a9a9aa;
        }
        .point {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 8px;
        }
      }
      .pricing-amount-section {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .option-amount {
          padding-bottom: 20px;
          span {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            /* or 125% */
          }
        }
        .pricing-choose-btn {
          width: 100%;
          height: 64px;
          left: 24px;
          bottom: 24px;
          border-radius: 12px;
          background: #161616;
          font-weight: 600;
          font-size: 22px;
          text-align: center;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
